---
import Layout from '../layouts/Layout.astro';

const allPostsModules = import.meta.glob<{ frontmatter: any; url: string }>('../pages/posts/*.mdx');
const allPosts = await Promise.all(
  Object.values(allPostsModules).map((module) => module())
);
const sortedPosts = allPosts.sort((a, b) => {
  const aDate = new Date(a.frontmatter.pubDate).valueOf();
  const bDate = new Date(b.frontmatter.pubDate).valueOf();
  return bDate - aDate;
});

const title = 'Notes from Curtis...';

const postCount = allPosts.length;
---

<Layout title={title}>
  <main>
    <p>
      Below you'll find all {postCount} of my notes in reverse chronological order. Simply click on the
      post to be taken to the full article. These notes include new notes as well as old notes that I
      recovered from several old blogs that I've had over the years.
    </p>
    <p>
      If you'd rather browse the notes by topic please head over to my <a href='/tags'
        ><strong>tags</strong></a
      > page to find a list of all tags.
    </p>
    <ul>
      {
        sortedPosts.map((post) => (
          <li>
            <a href={post.url}>
              <h2>{post.frontmatter.title}</h2>
              <span class='pubDate'>{post.frontmatter.pubDate.toString().slice(0, 10)}</span>
              <p>{post.frontmatter.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 65ch;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin: 2rem 0;
  }

  h2 {
    display: inline;
    margin: 0 0 0.2rem 0;
  }

  li p {
    margin: 0;
    font-style: italic;
  }

  a {
    text-decoration: none;
  }

  a,
  a:visited {
    color: hsl(0, 0%, 0%);
  }

  a:hover {
    color: rgb(255, 161, 61);
  }

  .pubDate {
    font-size: 0.8rem;
    font-style: italic;
  }
</style>
